<a href="https://colab.research.google.com/github/NguyenNgocQuyen29/BaiTapTuan1_AI/blob/main/BaiTapTuan2_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
url = 'Dulieu.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

    STT      MSSV           Họ và tên  Khoa  Điểm
0     1  20146111       Nguyễn Văn Ba   NaN     5
1     2  21145222   Nguyễn Minh Cường   NaN     7
2     3  22014123    Nguyễn Thanh Duy   NaN     8
3     4  23035211           Lê Văn Em   NaN     4
4     5  19112789         Bùi Thị Ánh   NaN     9
5     6  20146134      Cao Minh Phong   NaN     6
6     7  21145256     Trần Thái Thiên   NaN     7
7     8  22014178     Phạm Duy Phương   NaN     8
8     9  23035289       Lý Toàn Thanh   NaN     5
9    10  19112723        Nhâm Văn Bùi   NaN     5
10   11  18146111     Bao Thanh Thiên   NaN     5
11   12  17145222          Chú Đại Bi   NaN     7
12   13  16014123     Thái Thạch Sanh   NaN     8
13   14  23035357        Bùi Lý Thông   NaN     4
14   15  19112246        Trần Cao Văn   NaN     9
15   16  20146111  Nguyễn Nguyên Hồng   NaN     6
16   17  21145896        Cao Thanh Tú   NaN     7
17   18  22014345        Bùi Hồng Gấm   NaN     8
18   19  23035999      Phạm Bích Trân   NaN     5
19   20  19112555     Chiến Mãi Thắng   NaN     5

In [20]:
dataframe[dataframe['MSSV']==21145222].head(1)

   STT      MSSV          Họ và tên  Khoa  Điểm
1    2  21145222  Nguyễn Minh Cường   NaN     7

In [16]:
dataframe[(dataframe['MSSV']==21145896)&(dataframe['Họ và tên']=='Cao Thanh Tú')]

    STT      MSSV     Họ và tên  Khoa  Điểm
16   17  21145896  Cao Thanh Tú   NaN     7

In [18]:
print('Điểm cao nhất',  dataframe['Điểm'].max())

Điểm cao nhất 9

In [19]:
print('Điểm thấp nhất',  dataframe['Điểm'].min())

Điểm thấp nhất 4

In [21]:
print('Điểm tổng',  dataframe['Điểm'].sum())

Điểm tổng 128

In [23]:
#xóa dữ liệu
dataframe.drop('Khoa',axis = 1).head(10)

   STT      MSSV          Họ và tên  Điểm
0    1  20146111      Nguyễn Văn Ba     5
1    2  21145222  Nguyễn Minh Cường     7
2    3  22014123   Nguyễn Thanh Duy     8
3    4  23035211          Lê Văn Em     4
4    5  19112789        Bùi Thị Ánh     9
5    6  20146134     Cao Minh Phong     6
6    7  21145256    Trần Thái Thiên     7
7    8  22014178    Phạm Duy Phương     8
8    9  23035289      Lý Toàn Thanh     5
9   10  19112723       Nhâm Văn Bùi     5

In [25]:
dataframe.drop(['Khoa','MSSV'],axis = 1).head(10)

   STT          Họ và tên  Điểm
0    1      Nguyễn Văn Ba     5
1    2  Nguyễn Minh Cường     7
2    3   Nguyễn Thanh Duy     8
3    4          Lê Văn Em     4
4    5        Bùi Thị Ánh     9
5    6     Cao Minh Phong     6
6    7    Trần Thái Thiên     7
7    8    Phạm Duy Phương     8
8    9      Lý Toàn Thanh     5
9   10       Nhâm Văn Bùi     5

In [26]:
dataframe.drop(dataframe.columns[2:4],axis = 1).head(10)

   STT      MSSV  Điểm
0    1  20146111     5
1    2  21145222     7
2    3  22014123     8
3    4  23035211     4
4    5  19112789     9
5    6  20146134     6
6    7  21145256     7
7    8  22014178     8
8    9  23035289     5
9   10  19112723     5

In [30]:
dataframe.drop_duplicates().head(10)

   STT      MSSV          Họ và tên  Khoa  Điểm
0    1  20146111      Nguyễn Văn Ba   NaN     5
1    2  21145222  Nguyễn Minh Cường   NaN     7
2    3  22014123   Nguyễn Thanh Duy   NaN     8
3    4  23035211          Lê Văn Em   NaN     4
4    5  19112789        Bùi Thị Ánh   NaN     9
5    6  20146134     Cao Minh Phong   NaN     6
6    7  21145256    Trần Thái Thiên   NaN     7
7    8  22014178    Phạm Duy Phương   NaN     8
8    9  23035289      Lý Toàn Thanh   NaN     5
9   10  19112723       Nhâm Văn Bùi   NaN     5

In [31]:
dataframe.groupby('Điểm').count()

      STT  MSSV  Họ và tên  Khoa
Điểm
4       2     2          2     0
5       6     6          6     0
6       2     2          2     0
7       4     4          4     0
8       4     4          4     0
9       2     2          2     0

In [33]:
dataframe.groupby(['Điểm','MSSV']).count()  #điểm chung theo mã số sinh viên

               STT  Họ và tên  Khoa
Điểm MSSV
4    23035211    1          1     0
     23035357    1          1     0
5    18146111    1          1     0
     19112555    1          1     0
     19112723    1          1     0
     20146111    1          1     0
     23035289    1          1     0
     23035999    1          1     0
6    20146111    1          1     0
     20146134    1          1     0
7    17145222    1          1     0
     21145222    1          1     0
     21145256    1          1     0
     21145896    1          1     0
8    16014123    1          1     0
     22014123    1          1     0
     22014178    1          1     0
     22014345    1          1     0
9    19112246    1          1     0
     19112789    1          1     0

In [37]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2023',periods = 100000, freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe ['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14249
2023-01-08        100201
2023-01-15        100763
2023-01-22        100822
2023-01-29        101342
2023-02-05         82224

In [38]:
dataframe.resample('2W').mean()

            Acess_Amount
2023-01-01      4.947569
2023-01-15      4.984226
2023-01-29      5.013988
2023-02-12      4.989320

In [39]:
dataframe.resample('M').mean()

            Acess_Amount
2023-01-31      4.997614
2023-02-28      4.982649

In [52]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data
data = data.set_index(data['Medal']) #số huy chương BẠC
data.loc['Silver']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
Silver,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
Silver,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
...,...,...,...,...,...,...,...,...
Silver,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
Silver,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [53]:
data = data.set_index(data['NOC']) #số huy chươNG CỦA NƯỚC MỸ
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [60]:
data.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze   764   764    764         764  764    764           764
Gold     774   774    774         774  774    774           774
Silver   773   773    773         773  773    773           773

In [65]:
data[data['Medal']=='Gold'].head(2311)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
USA,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [66]:
data.groupby(['Medal','Event']).count()

                          Year  City  Sport  Discipline  NOC  Event gender
Medal  Event
Bronze 10000m               19    19     19          19   19            19
       1000m                32    32     32          32   32            32
       10km                 20    20     20          20   20            20
       10km pursuit          6     6      6           6    6             6
       12.5km mass start     1     1      1           1    1             1
...                        ...   ...    ...         ...  ...           ...
Silver slalom               32    32     32          32   32            32
       sprint                1     1      1           1    1             1
       sprint 1.5km          1     1      1           1    1             1
       super-G              13    13     13          13   13            13
       two-man              18    18     18          18   18            18

[201 rows x 6 columns]

In [71]:
import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
datas=data[(data['NOC'] =='USA')]
print("Số huy chương của USA:",datas['Medal'].count())

Số huy chương của USA: 216

In [72]:
data1=data[(data['Event'] =='500m') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân 500m:",data1['Event'].count())

Số huy chương chương vàng theo môn cá nhân 500m: 43